#bodybox {
    width: 360px !important;
    background-color:#fff;
    box-shadow:1px 1px 12px 0 #8A8A8A;
    -webkit-box-shadow:1px 1px 12px 0 #8A8A8A;
    -moz-box-shadow:1px 1px 12px 0 #8A8A8A;
    border-radius:4px 4px 0 0;
    border:3px solid #f47d43;
    border-bottom:none;
    font-family:Helvetica, sans-serif;
    position:fixed;
    z-index:9999;
    bottom:0 !important;
    right:1%!important;
    border-color:#2d99fc!important;
    max-width: 98%!important;
}

#chatboarder {
border-style: solid;
  border-color: #2d99fc;
  background-color: #fff;
  border-width: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 15px;
}
